/*!*********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/pages/HomePage/HomePage.css ***!
  \*********************************************************************************************************************************************************/
.HomePage {
}

.HomePage__container {
  margin-top: 150px;
}

/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/components/Banner/Banner.css ***!
  \**********************************************************************************************************************************************************/
.Banner {
  /*margin-top: 200px;*/
}

.Banner__block {
  background-color: #22c379;
  padding: 10px;

  margin-bottom: 50px;

  aspect-ratio: 16/9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 30%, 100% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 80% 0, 100% 30%, 100% 100%, 0 100%, 0% 50%);

  border-radius: 10px;
}

.Banner__content {
  margin: auto 0;

  font-size: 28px;
  font-weight: 500;
  padding: 0 15px;
  color: #ffffff;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Banner__bottom {
}

.Banner__specItems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.Banner__specItem {
  padding: 5px 10px;
  background-color: #ffffff;
  color: #202020;
  border-radius: 2px;

  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .Banner__content {
    font-size: 20px;
  }

  .Banner__specItem {
    font-size: 14px;
  }
}

/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/components/ListItem/ListItem.css ***!
  \**************************************************************************************************************************************************************/
.ListItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 24px;
}

.ListItem__mark {
  width: 64px;
  height: 64px;

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;

  border-radius: 50%;
  background-color: #44d4c8;

  font-size: 20px;
  font-weight: 600;
  color: white;
}

.ListItem__text {
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .ListItem__mark {
    width: 48px;
    height: 48px;
  }
  .ListItem__text {
    font-size: 16px;
  }
}

/*!****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/components/Container/Container.css ***!
  \****************************************************************************************************************************************************************/
.Container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}

@media screen and (max-width: 1280px) {
  .Container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .Container {
    padding: 0 15px;
  }
}

/*!****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/components/Row/Row.css ***!
  \****************************************************************************************************************************************************/
.Row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;

  width: 100%;
  max-width: 1220px;
}

/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/components/List/List.css ***!
  \******************************************************************************************************************************************************/
.List {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row-gap: 32px;
  margin: 0;
  padding: 0;
}

