.ListItem {
  display: flex;
  align-items: center;
  grid-column-gap: 24px;
}

.ListItem__mark {
  width: 64px;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 50%;
  background-color: #44d4c8;

  font-size: 20px;
  font-weight: 600;
  color: white;
}

.ListItem__text {
  font-size: 22px;
}


@media screen and (max-width: 767px) {
  .ListItem__mark {
    width: 48px;
    height: 48px;
  }
  .ListItem__text {
    font-size: 16px;
  }
}
